doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="google-site-verification" content="kwfO8Jwu8hYg9n_nZWkSrgaYTHnsXNka4mcj-lShrHU")
  body( ng-app="clickShame", ng-controller="MainCtrl" )
    block content
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers.js')