input.middle:focus { outline-width: 0; }
.clickshame-reference {
  background-color: rgba(253, 91, 91, 0.3);
}
.clickshame-reference:after {
  padding-left: 4px;
}
.clickshame-domain-banner {
  padding: 3px 10px 5px 10px;
  background: #FD5B5B;
  color: white;
}
.clickshame-close {
  float: right;
}
.clickshame-close:hover {
  cursor: pointer;
}
#strike-this {
  padding: 5px 20px;
  background: #FE5B5B;
  border: 0;
  color: #FFF;
}
#strike-this:hover { background: #E24A4A; }
